* {
    margin: 0;
    padding: 0;
}

.background-pic {
    height: 1080px;
    width: 1920px;
    position: relative;
}

.nischal-logo{
    position: absolute;
    top: 20px;
    left: 50px;
    height: 65px;
    width: 70px;
}

.nav-menu{
    font-family: "Kadwa", serif;
    position:absolute;
    display: flex;
    flex-direction: row-reverse;
    
}