* {
    margin: 0;
    padding: 0;
    font-family: "Kadwa", serif;
}

body {
    background-image: url("images/sea-2755901_1920.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

#first-page {
    height: 100vh;
}


/* Desktop-navi-bar */
.nischal-logo{
    position:relative;
    top: 50px;
    left: 80px;
    height: 65px;
    width: 70px;
    filter: invert(100%);
}

ul {
    list-style-type: none;
}


#nav-desktop-menu, 
.nav-menu {
    display: flex;
    flex-direction: row-reverse;
    font-size:larger;
    gap: 80px;    
    filter: invert(100%);
    position: relative;
    right: 50px;
}

a {
    color: white;
    text-decoration: none;
}

.nav-menu li {
    color: white;
}



/* PHOTO AND THE CENTER ITEMS  */
.profile-pic {
    position: relative;
    height: 300px;
    width: 300px;
    z-index: 1;
    border-radius: 50%;
    left: 300px;
    top: 150px;
}

.bio {
    position: relative;
    display: inline-flex;
    z-index: 1;
    color: white;
    flex-direction: column;
    left: 550px;
    bottom: 50px;
}


/* skills-section */
#second-page{
    height: 50vh;
}

.skills {
    text-align: center;
    padding-top: 100px;
}

.skills-bio {
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

#education {
    text-align: center;
    height: 50vh;
}

.education-points {
    text-align: center;
}